body {
    margin: 0;
    width:100%;
    height:100%;
    overflow:hidden;
    font-family:Verdana, sans-serif;
}
canvas { width: 100%; height: 100% }

#game_container
{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
}
.loader
{
    font-size:4vh;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background:black;
}
.loader.hidden
{
    display:none;
}

.loader-content
{
    position:absolute;
    top:50%;
    width:100%;
    transform:translateY(-50%);
}
.loader h1
{
    text-align:center;
    color:white;
}

.loader-progress
{
    position:relative;
    margin:20px auto;
    width:80%;
    height:50px;
    background:#555;
}

.loader-text
{
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
}
.loader-progress span
{
    display:block;
    background:white;
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
}


.gui
{
    font-family:sans-serif;
    position:absolute;
    opacity:1;
    transition:opacity 1.0s ease 0.5s;
    z-index:3;
    bottom:0px;
    height:9vh;
    width:100%;
    background:rgba(0,0,0,0.5);
    font-size:5vh;
    color:white;
}

.hidden
{
    opacity:0;
}
.bones_attachments
{
    height:100%;
    position:relative;
    left:2vh;
    display:inline-block;
    text-align:center;
    margin:0px;
}
.bone_attachment
{
    position:relative;
    display:inline-block;
    height:5vh;
    margin:0px 0.7vh;
    width:5vh;
    background:rgba(255,255,255,0.5);
    top:50%;
    transform:translateY(-50%);
    border:1px solid rgba(0,0,0,0.5);
    cursor:pointer;
}
.bone_attachment.selected
{
    border:1px solid rgba(255,255,255,0.5);
}
.punch { background:url(../gui/punch.png) center center no-repeat; background-size:80%; }
.stick { background:url(../gui/stick.png) center center no-repeat; background-size:100%; }
.hammer { background:url(../gui/hammer.png) center center no-repeat; background-size:100%; }

.bone_attachment .bone_attachment-hover
{
    display:none;
    width:auto;
    height:auto;
    padding:0.1em 0.2em;
    background:rgba(0,0,0,0.5);
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    text-transform:uppercase;
    font-size:0.3em;
     
}
.bone_attachment:hover .bone_attachment-hover
{
    display:block;
}

.temperaturebar
{
    pointer-events:none;
    display:inline-block;
    position:relative;
    top:50%;
    left:10vh;
    transform:translateY(-50%);
    width:10vw;
    background:#808080;
    height:5vh;
}
.temperaturebar_filled
{
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    width:30%;
    height:100%;
    background:#c0c17e;
}
.life
{
    pointer-events:none;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:10px;
    text-transform:uppercase;
    text-shadow:0px 0px 2px #000;
}
.textbox
{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    z-index:4;
    background:rgba(0,0,0,0.5);
    cursor:pointer;
}
.textbox-content
{
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    background:rgba(0,0,0,0.3);
    color:white;
    padding:40px 60px;
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom left, rgba(150,150,150,0.7) 0%, rgba(45,45,45,0.7) 100%);
    border-image-slice: 1;
    text-align:center;
    text-shadow:0px 0px 20px #b1b1b1;
    letter-spacing:0.05em;
}
.textbox h2
{
    margin:0px 0px 30px 0px;
    padding:0px;
    text-transform:uppercase;
}
.box_close
{
    position:absolute;
    top:0%;
    right:0px;
    width:50px;
    height:50px;
    margin:0px;
    padding:0px;
    background:none;
    border:none;
    cursor:pointer;
}
.box_close:before
{
    content:'×';
    font-size:30px;
    line-height:40px;
    position:absolute;
    color:white;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
}
