#menu
{
    position:fixed;
    top:0px;
    left:0px;
    z-index:10;
}
#editor
{
    font-family:sans-serif;
    margin:150px 250px;
    transform:rotate(0deg);
    transform-origin:50% 50%;
}
#menu *
{
    font-size:10px;
    padding:0px 3px;
}
#edit_item label
{
    display:inline-block;
    width:70px;
}
.line
{
    white-space:nowrap;
    font-size:0px;
    margin-top:-57.7px;
}
.line-impair
{
    margin-left:80.6px;
}
.hexagone
{
    position:relative;
    display:inline-block;
    width:113px;
    height:91.7px;
    background:url(hexagone.png) center center no-repeat;
    background-size:auto 100%;
    margin:6px 24px;
    opacity:0.8;
}
.hexagone:hover
 {
     z-index:10;
    opacity:1;
}
.hexagone.disabled
{
    opacity:0.1;
}
.hexagone.end_cell
{
    background-image:url(end.png);
}
.hexagone.start_cell:before
{
    content:'Start cell';
    position:absolute;
    color:white;
    top:50%;
    left:50%;
    font-size:15px;
    transform:translateX(-50%) translateY(-50%);
}
.hexagone.end_cell:before
{
    content:'End cell';
    position:absolute;
    top:50%;
    font-size:15px;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
}
.ennemy,
.patrol_point
{
    font-size:9px;
    position:absolute;
    color:white;
    width:1px;
    height:1px;
    opacity:0.7;
    cursor:pointer;
}
.ennemy:hover,
.patrol_point:hover
{
    opacity:1;
}

.ennemy:before,
.patrol_point:before
{
    content:'';
    display:block;
    position:absolute;
    width:10px;
    height:15px;
    padding:15px 1px 0px 1px;
    margin-top:-4px;
    background:url(ennemy.png) top center no-repeat;
    background-size:10px;
    transform:translateX(-50%) translateY(0%);
}

.patrol_point:before
{
    background-image:url(patrol_point.png);
}
.selected:after
{
    content:'';
    display:block;
    position:absolute;
    top:-5px;
    left:-5px;
    width:10px;
    height:10px;
    border:1px solid yellow;
}
hr
{
    margin:20px 0px;
}
