*
{
    font-family:sans-serif;
}

h1
{
    text-align:center;
}
#menu
{
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    z-index:10;
    background:#eee;
    padding:30px 0px;
}
#editor
{
    font-family:sans-serif;
    margin:150px 350px;
    transform:rotate(0deg);
    transform-origin:50% 50%;
}
#menu *,
#menu select
{
    font-size:10px;
    padding:0px 3px;
    margin:2px;
}
#menu select
{
    margin:2px;
    display:inline-block;
}
.mode.selected
{
    background:#a4b4fc;
}
#edit_item label
{
    display:inline-block;
    width:70px;
}
.line
{
    white-space:nowrap;
    font-size:0px;
    margin-top:-96px;
}
.line-impair
{
    margin-left:114px;
}
.hexagone
{
    position:relative;
    cursor:pointer;
    display:inline-block;
    width:150px;
    height:150px;
    background:url(hexagone.png) center center no-repeat;
    background-size:contain;
    margin:6px 39px;
    opacity:0.8;
}
.hexagone:hover
{
    z-index:10;
    opacity:1;
}
.hexagone.disabled:hover
{
    z-index:10;
    opacity:0.3;
}
.hexagone.disabled
{
    opacity:0.1;
}
.hexagone.end_cell { background-image:url(end.png); }
.hexagone.end_cell:hover { opacity:1; }
.hexagone.next_maze { opacity:1; background-image:url(next_maze.png); }
.hexagone.next_maze:hover { opacity:1; }

.hexagone.start_cell:before
{
    content:'Start cell';
    position:absolute;
    color:white;
    top:50%;
    left:50%;
    font-size:15px;
    transform:translateX(-50%) translateY(-50%);
}
.hexagone.end_cell:before
{
    content:'End cell';
    position:absolute;
    top:50%;
    font-size:15px;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
}
.hexagone.next_maze:before
{
    content:'Next maze';
    position:absolute;
    top:50%;
    font-size:15px;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
}
.ennemy,
.chest,
.patrol_point
{
    font-size:9px;
    position:absolute;
    color:white;
    width:15px;
    height:15px;
    margin-left:-7.5px;
    margin-top:-7.5px;
    background:red;
    border-radius:100%;
    opacity:0.7;
    cursor:pointer;
    line-height:15px;
    text-align:center;
    border:2px solid transparent;
}
.chest
{
    background:#c4c04e;
}

.chest:before,
.ennemy:before
{
    content:'';
    display:block;
    width:2px;
    height:30px;
    position:absolute;
    top:100%;
    left:calc(50% - 1px);
    background:#c4c04e;
}
.chest:before
{
    height:15px;
}
.ennemy:hover,
.chest:hover,
.patrol_point:hover
{
    opacity:1;
}

.patrol_point
{
    background-color:gray;
}
.selectable_item.selected
{
    border:2px solid yellow;
}
#menu hr
{
    margin:10px auto;
    width:50%;
    border:1px solid #bbb;
}

.walltype
{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:url(wall.png) center center no-repeat;
    background-size:contain;
    transform-origin:50% 50%;
}
.smallwall { background-image:url(smallwallt g.png); }
.opened { background-image:url(opened.png); }
.door { background-image:url(door.png); }
.door span
{
    position:absolute;
    width:100%;
    top:10%;
    left:50%;
    font-size:13px;
    color:white;
    transform:translateX(-50%);
    text-align:center;
}

.type0 { transform:rotate(180deg); }
.type1 { transform:rotate(120deg); }
.type2 { transform:rotate(60deg); }
.type3 { transform:rotate(0deg); }
.type4 { transform:rotate(-60deg); }
.type5 { transform:rotate(-120deg); }

.wall_editor
{
    position:relative;
    width:170px;
    height:200px;
}
.wall_editor select
{
    display:block;
    position:absolute;

}
.wall_editor .type0 { bottom:0px; left:50%; transform:translateX(-50%) }
.wall_editor .type1 { bottom:25%; right:0px;  }
.wall_editor .type2 { top:25%; right:0px }
.wall_editor .type3 { top:0px; left:50%; transform:translateX(-50%) }
.wall_editor .type4 { top:25%; left:0px }
.wall_editor .type5 { bottom:25%; left:0px }
